.element {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.element__photo {
  display: block;
}

.element__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 31px 21px;
}

.element__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.element__like-button {
  border: none;
  width: 21px;
  height: 19px;
  background-color: transparent;
  background-image: url(../images/like-button.svg);
  background-repeat: no-repeat;
}

.element__like-button:hover {
  cursor: pointer;
  color: #000000;
  opacity: 0.5;
}

.element__icon-like {
  display: block;
  max-width: 21px;
}
