.cards {
  list-style: none;
  padding: 0;
  display: flex;
  row-gap: 20px;
  column-gap: 17px;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: flex-start;
  margin: 50px auto 0;
}

@media screen and (max-width: 1055px) {
  .cards {
    max-width: calc((288px * 2) + 17px);
  }
}

@media screen and (max-width: 640px) {
  .cards {
    max-width: 288px;
    margin-top: 36px;
  }
}
